* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
@media only screen and (max-width: 1199px) {
  .container {
    padding: 0 5%;
  }
}
