header {
  background-color: #8a90ff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.header nav ul li a {
  color: white;
}
