table {
  border-collapse: collapse;
  thead {
    th {
      padding: 0.5rem 1rem;
      border: 1px solid red;
    }
  }
  tbody {
    td {
      border: 1px solid red;
      padding: 0.5rem 1rem;
    }
  }
}
