#section-2 {
  background-image: url("../../images/section_bg02.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#section-2 .section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
}
#section-2 .section img {
  position: absolute;
  top: 80px;
  left: 30px;
}
#section-2 .section .text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 650px;
  top: 200px;
}
#section-2 .section .text p:nth-child(1) {
  color: white;
  font-size: 1.4rem;
}
#section-2 .section .text h1 {
  color: white;
  font-size: 3.5rem;
}
#section-2 .section .text p:nth-child(3) {
  font-size: 1.5rem;
  color: white;
  width: 100%;
}
#section-2 .section .text p:nth-child(4) {
  color: white;
  font-size: 1.18rem;
  width: 100%;
}
.about-btn{
  background-color: red;
  padding: 15px 70px;
 border: none;
  color: white;
}